.lines::before,
.lines::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    height: 150px;
    pointer-events: none;
    z-index: 2;
}

.lines::before {
    top: 0;
    background-image: linear-gradient(to bottom, rgba(3,7,18, 1), rgba(0, 0, 0, 0));
}

.lines::after {
    bottom: 0;
    background-image: linear-gradient(to top, rgba(3,7,18, 1), rgba(0, 0, 0, 0));
}