
.contact-box {
    background-image: url('/contact/contact-bg.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid #c2ebf0;
    box-shadow: 1px 10px 1px 10px none;
}
