

.landing-icon {
    background-image: url('/icons/landing.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}

.terraform, .ansible, .docker, .kubernetes, .linux, .php, .python, .proxmox, .mysql {
    width: 65px;
    height: 65px;
    background-repeat: no-repeat;
    background-size: cover;
    transition: background-image 0.3s ease-in-out;
    cursor: pointer;
}

.terraform {
    background-image: url('/icons/black/terraform-black.png');
}

.terraform:hover, .terraform:active {
    background-image: url('/icons/terraform.png');
}

.ansible {
    background-image: url('/icons/black/ansible-black.png');
}

.ansible:hover, .ansible:active {
    background-image: url('/icons/ansible.png');
}

.docker {
    background-image: url('/icons/black/docker-black.png');
    width: 80px;
}

.docker:hover, .docker:active {
    background-image: url('/icons/docker.png');
}

.linux {
    background-image: url('/icons/black/linux-black.png');
}

.linux:hover, .linux:active {
    background-image: url('/icons/linux.png');
}

.php {
    background-image: url('/icons/black/php-black.png');
}

.php:hover, .php:active {
    background-image: url('/icons/php.png');
}

.python {
    background-image: url('/icons/black/python-black.png');
}

.python:hover, .python:active {
    background-image: url('/icons/python.png');
}

.mysql {
    background-image: url('/icons/black/mysql-black.png');
    width: 90px;
}

.mysql:hover, .mysql:active {
    background-image: url('/icons/mysql.png');
}

.proxmox {
    background-image: url('/icons/black/proxmox-black.png');
}

.proxmox:hover, .proxmox:active {
    background-image: url('/icons/proxmox.png');
}